/* General Theme for all pages */
h1,
h2,
h3,
h4,
strong {
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

h1 {
    margin: 0.5em 0;
    font-size: 2.5rem;
}

h2 {
    margin: 0.5em 0;
    font-size: 2rem;
}

body {
    background-color: #27272b;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.heading {
    text-align: center;
}

.left-half {
    width: 50%;
}

.right-half {
    width: 45%;
}

.main-content {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.body-text {
    font-size: 1.25em;
    color: lightgray;
}

/* Experience and Certifications Page */
.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2em;
}

/* Skills Page */
/* For skills Page */
.skill-section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    justify-items: center;
}

.tech {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item i {
    font-size: 40px;
    margin-bottom: 10px;
}

.skill-name {
    font-size: 16px;
    color: whitesmoke;
}

/* For smaller screens */
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-width: 480px) {
    .skill-item i {
        font-size: 35px;
    }

    .skill-name {
        font-size: 14px;
    }
}